#user-outer-wrapper {
  background: #545454;
  border-color: #656565;
}
#user-container a {
  color: #EEE;
}
#zones-above {
  background: #454545;
}
#zones-content-inner {
  background: transparent url('../i/body-top-bg-454545.png') repeat-x top left;
}
#zones-content {
  background: transparent url('../i/body-bottom-bg-454545.png') repeat-x bottom left;
}
#content-container {
  background: #EEE;
  border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
}
#zones-below {
  background: #454545;
}
#region-branding .site-title a {
  color: #EEE;
}
#region-branding .site-slogan {
  color: #CCC;
}






/* Primary Navigation & Dropdowns #################################################### */

#region-menu {
  background: #545454;
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  width: 960px;
  margin: 0;
	min-height: 36px;
	position: relative;
}
#region-menu ul.main-menu {
  font-family: 'Adobe Garamond Pro', Georgia, 'Times New Roman', serif;
  background: transparent;
  border: 0;
  float: right;
}
#region-menu ul.main-menu li {
  margin-left: 1px;
  font-size: 24px;
  padding: 0;
  position: relative;
}
#region-menu ul.main-menu li a {
  padding: 10px 15px;
  background: #FFF;
}
#region-menu ul.main-menu li a:hover, 
#region-menu ul.main-menu li.active-trail a, 
#region-menu ul.main-menu li.active a {
  background: #EEE;
}
#region-menu ul.main-menu li ul {
  border: 1px solid #454545;
  border-top: 0px;
  background: #EEE;
}
#region-menu ul.main-menu li ul li ul {
  position: relative;
  left:0;
  top:0;
  display: block;
  border: 0;
}
#region-menu ul.secondary-items li a {
  min-width: 200px;
  display: block;
}
#region-menu ul.main-menu li ul li a {
  padding: 5px 10px;
}
#region-menu ul.main-menu li ul li ul li a {
  padding-left: 20px;
}
#region-menu ul.main-menu li ul li ul li ul li a {
  padding-left: 30px;
}
#region-menu ul.main-menu li ul li ul li ul li ul li a {
  padding-left: 40px;
}
#region-menu ul.main-menu li ul li ul li ul li ul li ul li a {
  padding-left: 50px;
}
#region-menu ul.main-menu li ul li {
  font-size: 14px;

}

/* Rounded Top Right Corner of the top level menu items. */
#region-menu ul.main-menu > li.last,
#region-menu ul.main-menu > li.last > a {
  border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
}
/* Rounded Bottom Left & Right corners for the last item in a dropdown */
#region-menu ul.main-menu > li > ul,
#region-menu ul.main-menu > li > ul > li.last,
#region-menu ul.main-menu > li > ul > li.last a {
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}
/* Remove the rounded corners (in gamma) for the 3rd and futher level menus as they appear "inline" */
#region-menu ul.main-menu > li > ul > li > ul,
#region-menu ul.main-menu > li > ul > li > ul > li.last,
#region-menu ul.main-menu > li > ul > li > ul > li.last a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
/* End Primary Nav & Dropdowns */
